*{
    margin: 0;
    padding: 0;
}
.form-control{
    width: 22vw;
}
.btn{
    margin-right: 1vw;
}
.container col{
    background-color: aqua;
    margin: 20vw;
    /* height: 120vh; */
}

.col img{
    background-color: aqua;
    width: 20vw;
}

.row{
    width: 20vw;
}

.card-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  
  .card {
    flex: 0 0 auto;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-20px);
  }
